In [1]:
import numpy as np
import pandas as pd
import torch
import transformers as ppb

In [2]:
data = pd.read_csv('movie_train_data.csv', encoding='utf-8')

In [3]:
data

,original_title,overview,one_genre,genre_idx
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...",Comedy,4
1,Grumpier Old Men,A family wedding reignites the ancient feud be...,Comedy,4
2,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",Comedy,4
3,Father of the Bride Part II,Just when George Banks has recovered from his ...,Comedy,4
4,Heat,"Obsessive master thief, Neil McCauley leads a ...",Action,2
...,...,...,...,...
39629,The Burkittsville 7,A film archivist revisits the story of Rustin ...,Horror,1
39630,Robin Hood,"Yet another version of the classic epic, with ...",Action,2
39631,رگ خواب,Rising and falling between a man and woman.,Drama/Romance,5
39632,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,Drama/Romance,5
39633,Betrayal,"When one of her hits goes wrong, a professiona...",Action,2

In [4]:
data['overview'] = data['overview'].apply(lambda x: x.lower())

In [5]:
data

,original_title,overview,one_genre,genre_idx
0,Toy Story,"led by woody, andy's toys live happily in his ...",Comedy,4
1,Grumpier Old Men,a family wedding reignites the ancient feud be...,Comedy,4
2,Waiting to Exhale,"cheated on, mistreated and stepped on, the wom...",Comedy,4
3,Father of the Bride Part II,just when george banks has recovered from his ...,Comedy,4
4,Heat,"obsessive master thief, neil mccauley leads a ...",Action,2
...,...,...,...,...
39629,The Burkittsville 7,a film archivist revisits the story of rustin ...,Horror,1
39630,Robin Hood,"yet another version of the classic epic, with ...",Action,2
39631,رگ خواب,rising and falling between a man and woman.,Drama/Romance,5
39632,Siglo ng Pagluluwal,an artist struggles to finish his work while a...,Drama/Romance,5
39633,Betrayal,"when one of her hits goes wrong, a professiona...",Action,2

In [10]:
model_class, tokenizer_class, pretrained_weights = (ppb.DistilBertModel, ppb.DistilBertTokenizer, 'distilbert-base-uncased')
tokenizer = tokenizer_class.from_pretrained(pretrained_weights)
model = model_class.from_pretrained(pretrained_weights)

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=231508.0, style=ProgressStyle(descripti…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=442.0, style=ProgressStyle(description_…

HBox(children=(FloatProgress(value=0.0, description='Downloading', max=267967963.0, style=ProgressStyle(descri…

In [11]:
tokenized = data['overview'].apply((lambda x: tokenizer.encode(x, add_special_tokens=True)))

Token indices sequence length is longer than the specified maximum sequence length for this model (551 > 512). Running this sequence through the model will result in indexing errors
Token indices sequence length is longer than the specified maximum sequence length for this model (526 > 512). Running this sequence through the model will result in indexing errors
Token indices sequence length is longer than the specified maximum sequence length for this model (647 > 512). Running this sequence through the model will result in indexing errors
Token indices sequence length is longer than the specified maximum sequence length for this model (600 > 512). Running this sequence through the model will result in indexing errors

In [30]:
def padding(tokens):
    if len(tokens) > 60:
        padded = tokens[:60]
    else:
        pads = [0]*(60-len(tokens))
        padded = tokens.copy()
        padded.extend(pads)
    return padded

In [31]:
padded_tokens = tokenized.apply(lambda x: padding(x))

In [36]:
type(padded_tokens)

pandas.core.series.Series

In [44]:
padded = padded_tokens.tolist()

In [49]:
padded = np.array(padded)

In [50]:
np.array(padded).shape

(39634, 60)

In [51]:
attention_mask = np.where(padded != 0, 1, 0)
attention_mask.shape

(39634, 60)